* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Tajawal" !important;
}


::-webkit-scrollbar{
  display: none !important;
  width: 0;
}